.card {
  width: 400px;
  height: 700px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(216, 215, 215);
  padding: 30px;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.EV {
  padding-top: 5px;
}
.model {
  background-color: rgb(238, 240, 240);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 13px;
}
.pack {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 50px;
}
.car-image {
  width: 350px;
  margin-bottom: 50px;
}
.color {
  font-weight: 700;
  margin-bottom: 20px;
}
.underline {
  border-bottom: 1px solid rgb(233, 231, 231);
  margin-top: 30px;
}
.allprice {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.price {
  font-size: 30px;
  font-weight: 700;
  padding-right: 5px;
}
.won {
  line-height: 50px;
}
.allbutton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 20px;
}
.buy {
  border: 1px solid rgb(226, 224, 224);
  padding: 10px 20px;
  font-weight: 700;
  background-color: white;
}
.estimate {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 10px 20px;
  font-weight: 700;
}
