.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: flex-start;
}
.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.red {
  background-color: red;
}
.black {
  background-color: black;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.white {
  background-color: white;
}
.skyblue {
  background-color: skyblue;
}
.aqua {
  background-color: aqua;
}
.brown {
  background-color: brown;
}
.beige {
  background-color: beige;
}
.blueviolet {
  background-color: blueviolet;
}
.burlywood {
  background-color: burlywood;
}
.cornflowerblue {
  background-color: cornflowerblue;
}
.crimson {
  background-color: crimson;
}
.darkslateblue {
  background-color: darkslateblue;
}
.darkorchid {
  background-color: darkorchid;
}
.deeppink {
  background-color: deeppink;
}
.lightblue {
  background-color: lightblue;
}
.grey {
  background-color: grey;
}
.mini {
  width: 100%;
  height: 100%;
}
.text {
  align-items: end;
  justify-content: start;
  color: black;
}
