.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.box {
  /* 부모가 flex면 사이좋게 형제끼리 넓이 높이 공유(N빵~) */
  height: 100%;
  width: 100%;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.black {
  background-color: black;
}
