.color {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
}
.red {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: red;
  border-radius: 9999px;
}
.blue {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: blue;
  border-radius: 9999px;
}
.black {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: black;
  border-radius: 9999px;
}
.color > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: inline-block;
  border-radius: 9999px;
  margin-bottom: 10px;
}
