.hotel {
  background-image: url("hotelimage11.jpg");
}
.place {
  background-image: url("hotelimage22.jpg");
}
.hostel {
  background-image: url("hotelimage33.jpg");
}
.card10 {
  background-image: url("hotleimage.jpg");
}
.card {
  width: 300px;
  height: 500px;
  background-size: cover;
  border-radius: 20px;
  display: inline-block;
  margin-left: 20px;
  color: white;
  padding: 20px;
}
.line {
  text-decoration-line: underline;
  text-underline-offset: 5px;
}
.title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  margin: 20px 0;
  line-height: 30px;
}
.sub {
  color: white;
}
