.card {
  width: 400px;
  height: 500px;
  border-radius: 15px;
  padding: 150px 0px 0px 30px;
  display: inline-block;
  margin-left: 20px;
  background-size: cover;
}
.open11 {
  background-image: url("open11.jpg");
}
.name {
  margin-left: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 30px;
  padding: 5px;
  background-color: transparent;
}
.title {
  margin-left: 10px;
  margin-top: 25px;
  color: white;
  font-size: 35px;
  font-weight: 700;
  line-height: 50px;
}
.sub {
  color: grey;
  margin-top: 80px;
}
.open22 {
  background-image: url("open22.jpg");
}
.open33 {
  background-image: url("open33.jpg");
}
