.redbox {
  background-color: red;
  width: 100px;
  height: 100px;
}
.greybox {
  background-color: #838383;
  width: 200px;
  height: 200px;
  text-align: center;
}
.bluebox {
  background-color: #3358d4;
  width: 300px;
  height: 300px;
}
.yellowbox {
  background-color: #ffe629;
  width: 100px;
  height: 100px;
}
.greenbox {
  background-color: #2a7e3b;
  width: 80%;
  height: 100px;
}
