.box {
  background-color: blue;
  color: white;
  border-radius: 30px;
  width: 300px;
  padding: 20px 30px 20px 30px;
  margin-bottom: 13px;
  font-weight: 700;
}
.box1 {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: 300px;
  padding: 20px 30px 20px 30px;
  margin-bottom: 13px;
  font-weight: 700;
}
