.A {
  color: white;
  background-color: black;
  border-radius: 15px;
  padding: 4px 12px 4px 12px;
  border: 0.5px solid #e6e6e6;
}
.B {
  background-color: white;
  border-radius: 15px;
  padding: 4px 12px 4px 12px;
  border: 0.5px solid #e6e6e6;
}
.D {
  background-color: #35c5f1;
  color: white;
  border-radius: 15px;
  border: 0.5px solid #e6e6e6;
  padding: 6px 12px 6px 12px;
}
.E {
  background-color: #e6e6e6;
  border-radius: 15px;
  border: 0.5px solid #e6e6e6;
  padding: 6px 12px 6px 12px;
}

.L {
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 0px solid;
  padding: 5px 92.5px 5px 92.5px;
  font-weight: 700;
}
.M {
  background-color: #fee600;
  border-radius: 4px;
  border: 0px solid;
  padding: 5px 66px 5px 66px;
  font-weight: 700;
}
.N {
  background-color: white;
  border-radius: 4px;
  border: 0.1px solid #e6e6e6;
  padding: 5px 71.5px 5px 71.5px;
  font-weight: 700;
}
