.card {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  background-color: #8ec8f6;
  border-radius: 9999px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 100px;
}
.icon {
  margin-top: 30px;
  margin-bottom: 25px;
  font-size: 33px;
}
.text {
  text-decoration: underline;
}
